<div class="tab-content">
	<div class="tab-pane active" id="all">
  	<ul class="unstyled todo">
	  	<h3>Everything</h3>
	  	<% if params[:search] %>
	  		<div class="alert alert-notice">
					Displaying search results for "<%= params[:search] %>", <a href="/">cancel search</a>.
					<a href="/" class="close" data-dismiss="alert">×</a>
      	</div>
      <% end %>
    	<%= render :partial => 'tasks/task', :collection => @tasks %>
  	</ul>
  </div>

  <% categories = Category.find_all_by_user_id(current_user.id) %>
	<% categories.each do |cat| %>
	  <div class="tab-pane" id="<%= cat.id %>">
	  	<h3>
	  		<%= cat.title %>
	  		<div class="btn-group">
	  			<%= link_to "<i class='icon-edit'></i>".html_safe, edit_category_path(cat),
                              title: "Edit category", :class => "btn btn-mini", :remote => true %>
					<%= link_to "<i class='icon-remove'></i>".html_safe, cat, method:  :delete, :confirm => "Are you sure? (Tasks wont be removed)",
                              title: "Remove category", :class => "btn btn-mini", :remote => true %>                               
				</div>
	  	</h3>
	  	<ul class="unstyled todo">
	    	<%= render :partial => 'tasks/task', :collection => cat.tasks %>
	  	</ul>
	  </div>
	<% end %>
</div>
