<div class="tab-content">
	<div class="tab-pane active" id="all">
  	<ul class="unstyled todo">
	  	<h3>Everything</h3>
	  	<% if params[:search] %>
	  		<div class="alert alert-notice">
					Displaying search results for "<%= params[:search] %>", <a href="/">cancel search</a>.
					<a href="/" class="close" data-dismiss="alert">×</a>
      	</div>
      <% end %>
    	<%= render :partial => 'tasks/task', :collection => @tasks.unfinished, :locals => { :finished => false } %>
  	</ul>
  </div>

	<% @categories.each do |cat| %>
	  <div class="tab-pane" id="<%= cat.id %>">
	  	<h3>
	  		<%= cat.title %>
	  		<div class="btn-group">
	  			<%= link_to "<i class='icon-edit'></i>".html_safe, edit_category_path(cat),
                              title: "Edit category", :class => "btn btn-mini", :remote => true %>
					<%= link_to "<i class='icon-remove'></i>".html_safe, cat, method:  :delete, :confirm => "Are you sure? (Tasks wont be removed)",
                              title: "Remove category", :class => "btn btn-mini", :remote => true %>                               
				</div>
	  	</h3>
	  	<ul class="unstyled todo">
	    	<%= render :partial => 'tasks/task', :collection => cat.tasks.unfinished, :locals => { :finished => false } %>
	  	</ul>
	  </div>
	<% end %>

	<div class="tab-pane" id="today">
  	<ul class="unstyled todo">
	  	<h3>Today</h3>
    	<%= render :partial => 'tasks/task', :collection => @tasks.today, :locals => { :finished => false } %>
  	</ul>
  </div>

  <div class="tab-pane" id="tomorrow">
  	<ul class="unstyled todo">
	  	<h3>Tomorrow</h3>
    	<%= render :partial => 'tasks/task', :collection => @tasks.tomorrow, :locals => { :finished => false } %>
  	</ul>
  </div>

  <div class="tab-pane" id="week">
  	<ul class="unstyled todo">
	  	<h3>This week</h3>
    	<%= render :partial => 'tasks/task', :collection => @tasks.week, :locals => { :finished => false } %>
  	</ul>
  </div>

  <div class="tab-pane" id="overdue">
  	<ul class="unstyled todo">
	  	<h3>Overdue</h3>
    	<%= render :partial => 'tasks/task', :collection => @tasks.overdue, :locals => { :finished => false } %>
  	</ul>
  </div>

	<div class="tab-pane" id="archive">
  	<ul class="unstyled todo">
	  	<h3>Archive</h3>
    	<%= render :partial => 'tasks/task', :collection => @tasks.finished, :locals => { :finished => true } %>
  	</ul>
  </div>


</div>
