<li id='<%= "task_#{task.id}" %>' class="well">
	<% if current_user?(task.user) %>
    <%= link_to "DONE", task, method:  :delete,
                                title:   task.content,
                                :class => "btn btn-success btn-mini",
                                :remote => true %>

		<%= link_to "<i class='icon-edit'></i>".html_safe, edit_task_path(task.id), :remote => true, :class => "btn btn-mini pull-right edit" %>                                
  <% end %>

	<%= task.content %>
	<% if task.category %>
		<span class="label pull-right"><%= task.category.title %></span>
	<% end %>
</li>